
/* CONFIGURACIÓN GENERAL */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0; /* IMPORTANTE: el padding NO va en body */
    font-family: 'Roboto', sans-serif;
    background-color: #eef2f3;
}

/* ESTRUCTURA PRINCIPAL */

.layout {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    gap: 20px;
    padding: 5px;
}

/* Lateral */

.menu {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* El contenido del medio*/

.content section {
    background-color: #f9fbfc;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
}

/* GALERÍA */

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.galeria figure {
    margin: 0;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.galeria figcaption {
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    background-color: #f4f4f4;
}

/* Lo de abajo del home*/

.lugar img,
.mapa {
    width: 100%;
    margin-bottom: 10px;
}

/* Esto es listado de noticias en el home*/

.news {
    background-color: white;
    padding: 15px;
}

.news .noticia {
    display: block;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s;
}

.news .noticia:hover {
    background-color: #f4f4f4;
    padding: 10px;
}

.news .noticia img {
    width: 100%;
    margin-bottom: 8px;
}

.news .noticia p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news .noticia a {
    text-decoration: none;
    color: #3498db;
}



/* Todas las noticias funcionan con esto */


.noticia-completa {
    background-color: white;
    max-width: 900px;
    margin:20px auto;
    border-radius: 6px;
}

.contenido-noticia {
    padding: 40px 60px; 
}

.img-cabecera {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
}

figure {
    margin: 0;
}

figcaption {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 30px;
}



/* Botón de turismo en Paris */


.floating-link {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 10px;
}

/* Responsive */

@media (max-width: 900px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenido-noticia {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .galeria {
        grid-template-columns: 1fr;
    }

    .contenido-noticia {
        padding: 20px;
    }
}



